body{
    background-color: rgb(249, 249, 244);
}
.continer{
    display: flex;
    flex-direction: column;
    gap: 5em;
    margin: auto;
    width: 81%; 
 } 
header{
    text-align: center;
}
nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 1em 4em;
    background-color:rgb(242, 242, 240);
    border-radius: 10px;
}
.nav_img{
    display: flex;
    align-items: center;
    gap: 1em;
}
.nav_button{
    display: flex;
    align-items: center;
    gap: 1em;
}
nav img{
    width: 100px;
    height: 40px;
    border-radius: 10px;
}
nav button{
    background-color: rgb(7, 7, 7);
    border-radius: 3px;
    height: 30px;
    width: 150px;
    color: azure;
}
a{
    text-decoration: none;
    color: black;
}
.yellow{
    text-align: center;
    padding-top: 5em;
}
span{
    font-size: 150%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.yellow button{
    background-color:#05A667;
    border-radius: 15px;
    height: 50px;
    width: 20em;
    border: solid black;
    color: azure;
    margin-top: 2em;
}
.article1{
    display: flex;
    text-align: center;
    justify-content:space-evenly;
}
/* orange_img section */
.orange{
    display: flex;
    justify-content: center;
    padding-bottom: 2em;
}
.buttons{
    border-radius: 30px;
    height: 45px;
    width: 200px;
    border: solid black; 
    margin: 2em 0em;
}
.orange button{
    background-color:#FFC699;
}
.orange_content{
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.social_platform{
    display: flex;
    justify-content: flex-start;
    gap: 1em;
}
.orange_img{
    position: relative;
    left: 211px;
    top: 81px;
}
.author{ 
    border-radius: 50px;
    border: solid black;
    padding: 10px 45px 10px 5em;
}
.color{
    background-color: #FFC699;
}
 .Michelle_author{ 
    display: flex;
    justify-content: space-between;
}
.author_info { 
    display: flex;
    align-items: center;
    gap: 1em;
}
 .author_img{ 
    width:30px;
    height: 30px;
    border-radius: 50%;
}

/* green_img section */
.green_bar{
    display: flex;
    gap: 57px;
}
.green button{
    background-color:#85F2B8;
}
.advertising{
    display: flex;
    gap: 2em;
    padding-bottom: 2em;
}
.element{
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.author1{
    display: flex;
    justify-content: space-between;
    background-color:#85F2B8;
    border-radius: 50px;
    border: solid black;
    padding: 10px 4em 10px 3em;
}
.Pamela_author{
    display: flex;
    align-items: center;
    gap: 1em;
}
.star_rate{
    display: flex;
    align-items: end;
}
.green_img{
    position: relative;
    right: 129px;
    top: 62px
}
/* blue_img section */
.blue_content button{
    background-color: #4A70FB;
}
.blue_color{
    background-color: #4A70FB;
}
.blue_img{
    position: relative;
    left: 199px;
    top: 112px
}
/*sell around the world stastics */
.sell_stastics{
    display: flex;
    justify-content: space-around;
    /* text-align: center; */
    align-content: center;
    border-radius: 50px;
    border: solid black;
    padding: 2em 0px 2em 0px;
    /* gap: 10em; */
}
.stastics{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 3em;

}
.title_statistics{
    width: 50%;
}
/* Ecwid Support */
.Support{
    display: flex;
    gap: 2em;
}
.icon{
    display: flex;
    flex-direction: column ;
    border-radius: 50px;
    border: solid black;
    padding: 26px 2em 24px 2em;
    width: 30%;
    gap: 1em;
}
.Support img{
    width:70px;
    height: 70px;
    border-radius: 15px;
}
 /* <!-- last article in the page--> */

.element1{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    border-radius: 50px;
    border: solid black;
    padding: 26px 2em 24px 2em;
}
.title_store{
    width: 50%;
}
.element1 button{
    background-color: #FBDF52;
    margin: 0em;
}
.pay_info{
    text-align: center;
    align-content: center;
}
    /* <!-- footer_info --> */
